* {
    font-size: 25px;
    margin: 0;
    padding: 0;

}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

main {
    text-align: center;
}

.pizzas {
    display: flex;
    flex-wrap: wrap;
}

.pizza {
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    margin: 0.5rem;
    border: 1px solid;
    align-items: center;
    justify-content: space-between;
}

.pizza h3 {
    padding: 1rem;
}

.pizza p {
    padding: 1rem;
}   

.preço {
    font-weight: bold;
}

.pizza form {
    width: 100%;
    border-top: 1px black solid;
    display: flex;
    align-items: center;
}

.pizza form button {
    padding: 0.5rem;
    margin: 1rem;
}